<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
			<httpRuntime targetFramework="4.7.2" />
		<customErrors mode="Off"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Default2.html" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>
 